<form>
	<md-content>
	  	<div layout="column">
		  	<md-list>
		  		<div class="block-sep">
			  		<md-list-item class="md-2-line">
						<md-icon md-font-library="material-icons" class="md-24">build</md-icon>
						<div class="md-list-item-text">
				  			<p lnt-id="label.template.job"></p>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line">
						<md-icon></md-icon>
						<div class="md-list-item-text taskSelect">
							<a ng-href="" ng-click="goToSelectOriginLocation()">
								<font>{{searchInputScope.selectedOriginLocationStr}}</font>
							</a>
							<md-button ng-show="sectionBack==null && existsMenu" ng-click="goToSelectOriginLocation()">
	          					<md-icon md-font-library="material-icons" class="md-24">arrow_drop_down</md-icon>
							</md-button>
						</div>
					</md-list-item>
				</div>	
		  	</md-list>	
		</div>
	</md-content>
</form> 