<div class="calendarDaySP bg-color{{bgColor}}" style="margin-top: {{apoX}}px; left: {{apoY}}%;"> <p class="calendarDayText">{{apoName}}</p>  <p class="calendarDayText special">{{apoCalendarName}}</p> </div> 