<li> 	<div class="{{#eveConsumed}}right tag accept{{/eveConsumed}}{{#eveRejected}}right tag cancel{{/eveRejected}}">{{#eveConsumed}}{{texts.finished}}{{/eveConsumed}}{{#eveRejected}}{{texts.rejected}}{{/eveRejected}}</div>     {{eveHour}} - {{eveHourEnd}} - {{eveCalendarName}}</br>     <div>{{eveClient.whoName}} - {{eveClient.whoEmail}} - {{eveLocalTask.lotName}} - {{eveDesc}}</div> </li>