<li>
	<div class="{{#eveConsumed}}right tag accept{{/eveConsumed}}">{{#eveConsumed}}{{texts.finished}}{{/eveConsumed}}</div>
    {{eveHour}} - {{eveHourEnd}} - {{eveCalendarName}}</br>
    <div>{{eveDesc}}</div>
</li>