<li> 	<div class="right tag accept">{{invRate}} <span>{{texts.currency}}</span></div> 	{{invClient.whoName}} {{invClient.whoSurname}} - {{invClient.whoEmail}}</br>     <div>{{eveHour}} - {{invBilleds}}</div>     {{invDesc}} </li>