<li class="dark">
	<label>{{texts.rate}}</label>: <span id="invRate"></span><span>{{texts.currency}}</span>
</li>
<li>
	<label id="error_invDate" style="color:red;"></label> <label>{{texts.date}}</label>:
	<input id="invDate" size="5" type="date" value="{{invTime}}" required>
	<label id="error_invTime" style="color:red;"></label> HH:mm
	<input id="invTime" size="5" type="time" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" value="{{eveHour}}" required>
</li>
<li>
	<label>{{texts.new}}</label>:
	<label class="select">
		<select id="invClientNew" class="custom">
			<option value="1">{{texts.yes}}</option>
			<option value="0">{{texts.no}}</option>
		</select>
	</label>
</li>
<li id="searchLi" style="display: none;">
	<label>{{texts.search}}</label>
	<a href="#" class="button" data-action="search-client" data-icon="search"> <span class="icon search"></span></a>
</li>
<li>
	<label id="error_invClientName" style="color:red;"></label> <label>{{texts.name}}</label>:
	<input type="search" placeholder="{{texts.name}}" id="invClientName" autocomplete required />
	<label id="error_invClientSurname" style="color:red;"></label> <label>{{texts.surname}}</label>:
	<input type="search" placeholder="{{texts.surname}}" id="invClientSurname" autocomplete />
	<label id="error_invClientEmail" style="color:red;"></label> <label>{{texts.email}}</label>:
	<input type="email" placeholder="{{texts.email}}" id="invClientEmail" autocomplete />
</li>
<li>
	<label>{{texts.desc}}</label>:
	<textarea id="invDesc" maxlength="300" placeholder="{{texts.desc}}"></textarea>
</li>