<li class="dark"> 	<label>{{texts.rate}}</label>: <span id="invRate"></span><span>{{texts.currency}}</span> </li> <li> 	<label>{{texts.date}}</label>: <label>{{invTime}}</label> </li> <li> 	<label>{{texts.client}}</label>: <label>{{invClient}}</label> </li> <li> 	<label>{{texts.desc}}</label>: 	<textarea id="invDesc" maxlength="300" placeholder="{{texts.desc}}"></textarea> </li>