<li>     {{#lotDefault}}     <div id="defaultTask" class="right tag accept">{{texts.default}}</div>     {{/lotDefault}}     <strong>{{lotName}}</strong>     <small>{{lotTaskDuration}} min  {{#hasLotTaskRate}}{{lotTaskRate}} {{texts.currency}}{{/hasLotTaskRate}}</small> </li> 