<li>
 	<label data-id="lotTaskDurationError" id="lotTaskDurationError{{lotId}}" style="color:red;"></label> <label>{{texts.durationCombiTasks}}</label>:
    <input id="lotTaskDuration{{lotId}}" type="number" value="{{lotTaskCombiRes}}" pattern="\\d{1,2}" required />
    <label>{{texts.selectTask}}</label>:
  	<label class="select">
    	<select id="lotTaskIdSecond{{lotId}}" data-id="lotTaskSelect" class="custom"></select>
  	</label>
 	<button class="small" id="clear-completed"> {{texts.delete}}</button>
</li>