<li> 	<label id="error_numLines" style="color:red;"></label> <label>{{texts.numLines}}: </label></br> 	<input id="numLines" data-id="taskGoodsSelect" size="3" type="number" value="{{tasGoodsNumLines}}" max="999" min="1" required> 	<label id="error_numPallets" style="color:red;"></label> <label>{{texts.numPallets}}: </label></br> 	<input id="numPallets" data-id="taskGoodsSelect" size="3" type="number" value="{{tasGoodsNumPallets}}" max="999" min="1" required> </li>