<li>  	<label id="timError{{timId}}" style="color:red;"></label> <label>{{texts.hourFromUntil}}</label>  	<input id="timFrom{{timId}}" size="5" type="time"  value="{{timFrom}}" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" required> -  	<input id="timUntil{{timId}}" size="5" type="time" value="{{timUntil}}" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" required>  	<button class="small" id="clear-completed"> {{texts.delete}}</button> </li>